<%- include('../layouts/header.ejs') %>
<header class="page">
    <div class="container">
        <ul class="breadcrumbs d-flex flex-wrap align-content-center">
            <li class="list-item">
                <a class="link" href="/">Trang Chủ</a>
            </li>

            <li class="list-item">
                <a class="link" href="/khach-hang/">Khách Hàng</a>
            </li>
        </ul>
        <h1 class="page_title">Khách Hàng</h1>
    </div>
</header>

<main>


</main>
<%- include('../layouts/footer.ejs') %>